<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="./css/forgot-password.css">
</head>
<body class="hm-gradient">
  <main>
<h1 class="text-center mt-5">Reset Passeword</h1>
       <div class="container mt-4">
          <form action="forgot-password" method="post">
           <div class="row">
               <div class="col-md-3 mb-5"></div>
             <div class="col-md-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Reset Passeword:</h3>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" id="defaultForm-email" class="form-control" name="email" placeholder="Enter Email">
                                <label for="defaultForm-email"></label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-default waves-effect waves-light" type="submit">Reset password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
           </form> 
        </div>           
    </main>
 </body> 
 </html>  