<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    ></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <link rel="stylesheet" href="./css/style4.css" />
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="http://localhost:8080/userlogin">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="http://localhost:8080/signup">SignUp</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container">
      <div class="row">
        {{#each result}}
        <div class="col-lg-4">

          <div class="card mt-5 shadow-lg p-3 " style="width: 18rem; ">
            <img class="card-img-top" src="https://icons-for-free.com/download-icon-business+costume+male+man+office+user+icon-1320196264882354682_512.png" alt="Card image cap"/>
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">Contact : {{this.phone}}</p>
              <a href="http://localhost:8080/edit/{{this.id}}" class="btn btn-success mr-5 rounded-pill">Edit</a>
              <a href="http://localhost:8080/delete/{{this.id}}" class="btn btn-danger ml-4 rounded-pill">Delete</a>

            </div>
          </div>
          </div>
          {{/each}}
      </div>
    </div>

  </body>
</html>