@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
    
}

body {
    /* background-color: #333; */
    background: #5433FF !important; 
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF)!important;  
    background: linear-gradient(to right, #A5FECB, hsl(157, 100%, 56%), #5433FF) !important; 

}
.card-img-top{
    height:150px;
    width: 250px;
}